.review_message{
    margin-bottom: 20px;
}

.header{
    /* position: absolute;
    display: flex;
    left: 400px;
    top: 100px; */
}

.review_stars{
    margin-bottom: 10px;
}

.submit{
    /* position: absolute;
    left: 450px;
    top: 270px; */
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
