.edit_spot{
    display: flex;
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    bottom: 30px;
}

.edit_header{

    font-family: 'Montserrat', sans-serif;
    position: relative;
    /* bottom: 300px; */
    top: 60px;
    right: 10px;

}

.edit_spot_container{
    font-family: 'Montserrat', sans-serif;
    margin-right: 10px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    border: 1px solid gainsboro;
    position: relative;
    /* left: 10px; */
    top: 5px;
    /* right: 60px; */
    width: 500px;
    height: 720px;
}

.edit_address_container{
    display: flex;
    position: relative;
    flex-direction: column;
    /* left: 15px; */
    border-radius: 10px;
    padding: 5px;
    /* width: 400px; */
    font-family: 'Montserrat', sans-serif;
}

.edit_spot_text{
    position: relative;
    color: #545454;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

.edit_spot_errors{
    display: flex;
    position: relative;
    top: 5px;
    right: 15px;
    /* bottom: 30px; */
    font-family: 'Montserrat', sans-serif;
}



.submit_edits{
    border: none;
    border-radius: 7px;
    font-size: 18px;
    background-color: #FF385C;
    color: white;
    position: relative;
    /* flex-direction: column; */
    top: 10px;
    left: 0px;
    height: 50px;
    width: 370px;
    font-family: 'Montserrat', sans-serif;
}

.submit_edits:hover{
    cursor: pointer;
}
