.create_spot label {
    display: flex;
    padding: 5px;
  }

  .create_spot span {
    font-size: 15px;
    margin-right: 12px;
  }

  .form_input {
    display: flex;
    justify-content: center;
    width: auto;
    margin: auto;
    margin-top: 20px;
    padding: 40px;
    border: 2px solid rgb(216, 203, 203);
    border-radius: 20px;
  }

  input {
    font-size: 16px;
    padding-left: 10px;
    width: 350px;
    border: 2px solid rgb(216, 203, 203);
    border-radius: 10px;
  }

  .create_spot_button {
    background-color: white;
    margin-top: 20px;
    margin-left: 150px;
    border: solid black;
    border-radius: 10px;
    color: black;
    font-weight: 900;
    height: 40px;
    width: 200px;
  }

  .form_requirements {
    /* margin-bottom: 50px; */
   }
