.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline;
  font-size: 12px;
  font-weight: 500;
  line-height: 10px;
  margin-top: 15px;
  outline: none;
  padding: 10px 23px;
  text-align: center;
  touch-action: manipulation;
  width: auto;
}
