img {
    height: 220px;
    flex-wrap: wrap;
    float: left;
    width: 270px;
    background-size: cover;
    border-radius: 15px;
    margin: 1rem;
    object-fit: cover;
    align-items: flex-start;
  }



  a:link {
    text-decoration: none;
  }

  #splash_page_star{
    position: relative;
    left: 205px;
    bottom: 22px;
  }

  .all_spots {
    display: flex;
    flex-wrap: wrap;
    /* min-width: 700px; */
    max-width: 1250px;
    /* max-width: 1450px; */
    flex-direction: row;
    margin: auto;
    /* margin-bottom: 10px; */

    padding-left: auto;
    /* padding-bottom: 20px; */
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
  }

  .spot_info {
    margin-left: 22px;
    margin-bottom: -25px;
    align-items: center;
    justify-content: center;
    color: black;
  }



  .spot_location{
    font-size: 15px;
    margin-bottom: 5px;
    /* font-weight: bolder; */
    font-weight: none;
    font-family: 'Montserrat', sans-serif;
    font-family: sans-serif;
    position: relative;
    top: 0px;
    margin-top: 0px;
  }

  .spot_price {
    /* font-weight: bold; */
    font-size: 14px;
    /* margin-bottom: 15px; */
    margin-top: auto;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 22px;

    bottom: 10px;
    color: black;
  }

  .spot_rating{
    font-size: 14px;
    /* font-weight: bolder; */
    margin-bottom: 5px;
    position: relative;
    top: 1px;
    left: 190px;

  }

.rating_star_container{
  display: flex;
  flex-direction: column;
}

  .rating_tern{
    position: relative;
    left: 35px;
    bottom: 40px;
  }


  @media screen and (max-width: 1900px) and (min-width: 1200px) {
    .all-spots {
      width: 90%;
      left: 5%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  @media screen and (max-width: 1200px) {
    .all-spots {
      width: 100%;
      left: 0%;
    }
  }

  @media screen
  and (min-width: 414px)
  and (max-width: 896px) {
    .all-spots {
      width: 50%;
    }
}

.booking_dates{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 14px;
  /* margin-top: 10px; */
}

.booking_dates_header{
  font-size: 15px;
  font-family: sans-serif;
  margin-bottom: 0px;
  margin-top: 10px;
  font-weight: bold;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: underline;

}
.single_spot{
  border-radius: 10px;
  margin-top: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.single_spot:hover{
  background-color: #f2f2f2;
}

.user_bookings_delete_button{
  border: none;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background-color: #FF385C;
  color: white;
  font-family: 'Montserrat', sans-serif;
  height: 25px;
  width: 150px;
  margin-bottom: 10px;
  margin-top: 0px;
}


/* Categories */
#category_icon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.category_text{
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}

.category_container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.category{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
}

.individual_category{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
