body {
    font-family: "Open Sans", sans-serif;
  }

  .navigation_bar {
    padding: 0px 0 10px 0;
    background-color: white;
    display: flex;
    border-bottom: 0.5px solid #d3d3d3;
    position: static;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 12px;
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    margin-right: auto;
    min-width: 600px;
  }

.logged_out_signup{
  border: none;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background-color: #FF385C;
  color: white;
  font-family: 'Montserrat', sans-serif;
  height: 35px;
  width: 100px;
  margin-right: 10px;
}
.logged_out_signup:hover {
  cursor: pointer;

 }

.logged_out_login{
  border: none;
  border-radius: 7px;
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background-color: #FF385C;
  color: white;
  position: relative;
  height: 35px;
  width: 100px;
  font-family: 'Montserrat', sans-serif;
}

.logged_out_login:hover {
  cursor: pointer;
 }


 .loggedOutStuff{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 20px;

 }


.demo_button{
  border: none;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background-color: #FF385C;
  color: white;
  height: 35px;
  width: 110px;
  font-family: 'Montserrat', sans-serif;
}

.demo_button:hover {
  cursor: pointer;
 }

.logo{
  width: 35px;
  height: 35px;
  margin-bottom: 0px;
  margin-top: -5px;
}

.loggedIn_menu{
  position: absolute;
  right: 110px;
  top: 30px;
  width: 75px;
  height: 30px;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 20px;
  display: flex;
  color: grey;
}

.loggedIn_menu:hover{
  background-color: gainsboro;
}


  .become_host {
    font-weight: bolder;
    /* min-width: 400px; */
    right: 200px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 25px;
    padding: 10px;
    color: black;

    border-radius: 5px;
  }

  .become_host:hover {
    background-color: gainsboro;

   }


  .home_link {
    color: #ED6A6A;
    display: flex;
    font-weight: bold;
  }

  #bestbnb_logo {
    align-items: center;
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 20px;
    padding-left: 8px;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    color:  #FF385C;
  }
