body {
    font-family: "Montserrat", sans-serif;
    font-family: "Open Sans", sans-serif;
  }

  .navigation_bar {
    padding: 0px 0 10px 0;
    background-color: white;
    display: flex;
    border-bottom: 0.5px solid #d3d3d3;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 12px;
    height: 70px;
    gap: 10px;
  }

  .actions_menu {
    color: gray;
    background-color: white;
    margin-top: 15px;
    border: white;
    border-radius: 20px;
    height: 40px;
    width: 80px;
    padding-left: 17px;
    padding-right: 15px;
    font-size: 20px;
    display: flex;
    position: relative;
    text-align: start;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #dddddd;
  }

  .actions_menu:hover {
    box-shadow: 0px 0px 5px gray;
  }

  .become_a_host {
    color: black;
    margin-top: 14px;
    border: white;
    border-radius: 20px;
    height: auto;
    width: auto;
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    display: flex;
    text-align: start;
    justify-content: space-between;
    align-items: center;
  }

  .become_a_host:hover {
    border: 1px solid #dddddd;
    background-color: rgba(211, 211, 211, 0.5);
  }

  .nav_link {
    text-decoration: none;
  }

  .home_link {
    color: #ff385c;
    display: flex;
    font-weight: bold;
  }

  #bestbnb_logo {
    align-items: center;
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 20px;
    padding-left: 8px;
    padding-top: 14px;
  }

  .home_buttons {
    display: flex;
    font-size: 18px;
    margin-right: 8px;
    margin-top: 15px;
  }
