body {
    font-family: "Open Sans", sans-serif;
  }

  .navigation_bar {
    padding: 0px 0 10px 0;
    background-color: white;
    display: flex;
    border-bottom: 0.5px solid #d3d3d3;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 12px;
    height: 70px;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    margin-right: auto;
  }

.logged_out_signup{
  border: none;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background-color: #FF385C;
  color: white;
  position: relative;
  /* flex-direction: column; */
  /* bottom: 58px; */
  bottom: 20px;
  height: 35px;

  width: 100px;
  right: 150px;
}

.logged_out_login{
  border: none;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background-color: #FF385C;
  color: white;
  position: relative;
  /* flex-direction: column; */
  top: 15px;
  height: 35px;
  width: 100px;
  right: 25px;
}

.demo_button{
  border: none;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background-color: #FF385C;
  color: white;
  position: relative;
  /* flex-direction: column; */
  bottom: 55px;
  height: 35px;
  width: 100px;
  right: 280px;
}

.logo{
  width: 35px;
  height: 35px;
  margin-bottom: 0px;
  margin-top: -5px;
}
.loggedIn_menu{
  position: absolute;
  right: 50px;
  top: 26px;
  width: 75px;
  height: 30px;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 20px;
  display: flex;
  color: grey;
}



  .become_host {
    font-weight: bolder;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 15px;
    width: 150px;
    right: 80px;
    color: black;
    /* left: 255px; */
  }


  .home_link {
    color: #ED6A6A;
    display: flex;
    font-weight: bold;
  }

  #bestbnb_logo {
    align-items: center;
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 20px;
    padding-left: 8px;
    padding-top: 25px;
  }
