.profile_dropdown {
    font-size: 15px;
    color: black;
    font-weight: 500;
  }

  .actions_button {
    background-color: gray;
  }

  .menu {
    background-color: gray;
    display: flex;
    position: absolute;
    bottom: 200px;
    top: 100px;
  }
