.login_modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
    /* border: solid black; */
    height: 300px;
    width: 575px;
    margin-bottom: -75px;
  }


  .welcome_header {
    display: flex;
    font-weight: bold;
    align-content: center;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 5px;
    font-size: 25px;
  }

  .login_email {
    border: solid grey;
    border-radius: 10px;
    color: black;
    font-size: 18px;
    height: 22px;
    width: 325px;
    margin-bottom: 5px;
    margin-left: 6px;

  }
  .login_password {
    font-size: 16px;
    margin-left: 15px;
    padding-left: 25px;
    position: relative;
    height: 22px;
    width: 300px;
    align-items: center;
    border: solid grey;
    border-radius: 10px;
  }

  .login_button {
    background-color: white;
    border: 2px solid grey;
    border-radius: 8px;
    height: 10px;
    width: 105px;
    align-items: center;
    justify-content: center;
    color: black;
    display: flex;
    font-size: 14px;
    margin-top: 20px;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
  }
